<div class='container'>
  <div id='user'>
    <h3><%= @question %></h3>
    <h3>-You</h3>
  </div>
</div>
<br>
<div class='container'>
  <div id='coach'>
    <h3><%= @answer %></h3>
    <h3>-Your coach</h3>
  </div>
</div>
<br>

<%= link_to "Ask a new question", ask_path %>